version: '3.8'
services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: carrental_sql
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=CarRentalAdmin123!
    ports:
      - "1433:1433"
    volumes:
      - sqlvolume:/var/opt/mssql
volumes:
  sqlvolume:
